*{
    border-radius: 0.2rem;
    font-family: Arial;
}
body {
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
    max-width: 500px;
    padding: 8px;
    background:white;
    box-shadow:  0 0 8px grey;
}
.cl{
    margin: 3px;
    flex:1 1 100px;
    font-size: 30px;
    height: 50px;
    border: none;
    background: white;
    border-radius: 0%;
}
.cl:hover{
cursor: pointer;
box-shadow:   0  0 10px 0.5px rgb(222, 219, 219) ,
inset 0  0 30px  rgb(222, 219, 219);

}
#result{
    display: block;
    width: 100%;
    min-height: 38px;
    text-align: right;
    font-size:30px;
    padding: 3px;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 8px;
    background-color: white;
   
}
.pl{
    background: rgb(239, 134, 6);
}

.pl:hover{
    box-shadow:  0  0 10px 0.5px rgb(178, 176, 176) ,
    inset 0  0 30px   rgb(239, 134, 6);
    
}
.mn{
    background: rgb(242, 167, 76);
}
.mn:hover{
    box-shadow:   0  0 10px 0.5px rgb(178, 176, 176) ,
    inset 0  0 30px  rgb(242, 167, 76);    
}
.mu{
    background: rgb(245, 192, 127);  
}

.mu:hover{
    box-shadow:    0  0 10px 0.5px rgb(178, 176, 176) ,
    inset 0  0 30px  rgb(245, 192, 127);    
}
.pa{
    background: rgb(252, 222, 186);  
}

.pa:hover{
    box-shadow:   0  0 10px 0.5px rgb(178, 176, 176) ,
    inset 0  0 30px  rgb(252, 222, 186);
}

    